@import 'config';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $lc;
    font-family: $ff;
    line-height: 1.6;
}

img{
    width: 100%
}

a{
    text-decoration: none;
}

.showcase{
    @include set-background($pc);
    //background-color: $pc;
    //color: #fff;
    //color: set-text-color($pc);
    height: 600px;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            list-style-type: none;
        }

        li{
            padding: 15px;
        }

        a{
            color: set-text-color($pc);
        }

        a:hover{
            color: $sc;
        }
        a:active{
            color: #00ff00;
        }
    }

    /*a{
        color: #fff;
    }*/

    &-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        img{
            width: 50%;
        }

        h1{
            font-size: 50px;
            line-height: 1.2;
        }

        /*p{
            margin: 20px 0;
        }*/
    }
}

@import 'utilities';
@import 'buttons';
@import 'mobile';